[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad

lib/*
output/*
_UpgradeReport_Files/*
*.idc
SimpleC.g.1
Backup/*
UpgradeLog.xml
build.bat
tmp.py
Grammar/*.cs
Grammar/*.cs
*.tokens
works.bat